<article
    class="blog-post-card dash-border dash-border--left col-4 col-12-tablet col-12-mobile"
>
    {% if post.pullquoteImage %}
    <img
        src="/assets/img/spots/{{ post.pullquoteImage | downcase }}.webp"
        alt=""
        class="blog-post-card__img"
        loading="lazy"
        decoding="async"
    />
    {% endif %}

    <h2 class="blog-post-card__title">
        <a href="/ideas/{{ post.slug | default : post.sys.id }}/">{{
            post.title
        }}</a>
    </h2>

    <p class="blog-post-card__intro-text">
        {{ post.firstParagraph }}
    </p>

    <p class="blog-post-card__readmore">
        <a href="/ideas/{{ post.slug | default : post.sys.id }}/">Read more</a>
    </p>
    {% if cta %}
    <div class="blog-post-card__cta">
        {% include "button", text: "more posts ", href: "/ideas" %}
    </div>
    {% endif %}
</article>
