<section class="hero org-card section--bg-linen">
    <div class="container">
        <div class="col-12">
            <div class="content--wrapper">
                <div class="tablet-hide desktop-hide">
                    <img class="org-logo org-logo__mobile" src="{{ logo }}" />
                </div>
                <div class="section--intro">
                    <div class="col-6 col-12-mobile">
                        <h1>{{ name }}</h1>
                    </div>
                    <div class="col-6 col-12-mobile content--right display-flex mobile-hide">
                        <img class="org-logo" src="{{ logo }}" />
                    </div>
                </div>
                <div class="section--intro">
                    <div class="col-6 col-12-tablet col-12-mobile">
                        <p class="section--subtitle">{{ type_of_work }}</p>
                        <div class="org-card__content">
                            <h2>
                                {{ subheading }}
                            </h2>
                            <p>
                                {{ description }}
                            </p>
                        </div>
                    </div>
                    <div class="col-6 col-12-tablet col-12-mobile dash-border dash-border--left dash-border--hide-tablet dash-border--hide-mobile display-flex {{screenshot_css}} our-work-screenshot-wrapper">
                        <img class="org-screenshot" src="{{ screenshot }}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
