<section class="hero section--spacing section--bg-linen">
    <div class="container">
        <div class="col-12">
            <div class="content--wrapper">
                <div class="section--intro">
                    <h1 class="col-6 col-12-tablet col-12-mobile">
                        Organization name {{ organization.name }}
                    </h1>
                    <div class="col-6 col-12-tablet col-12-mobile content--right display-flex">
                        {% comment %} probz put another wrapper div here {% endcomment %}
                        <img class="org-logo" src="{{ organization.logo }}" />
                    </div>
                </div>
                <br />
                <br />
                <div class="section--intro">
                    <div class="col-6 col-12-tablet col-12-mobile">
                        <p class="section--subtitle">{{ organization.type_of_work }}</p>
                        <div class="pad-right">
                            <h2>
                                {{ organization.subheading }}
                            </h2>
                            <p>
                                {{ organization.description }}
                            </p>
                        </div>
                    </div>
                    <div class="col-6 col-12-tablet col-12-mobile dash-border dash-border--left">
                        <img class="org-screenshot" src="{{ organization.screenshot }}" />
                        <p class="org-caption">
                            {{ organization.caption }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
