---
pagination:
    data: posts
    size: 1
    alias: post
permalink: /blog/{{ post.sys.id }}/index.html
layout: layout.liquid
eleventyComputed:
    title: '{{ post.title }}'
    date: '{{ post.sys.publishedAt }}'
---

<article class="section--spacing section--bg-linen blog-post-page">
    <header class="section">
        <div class="container section--intro">
            <div
                class="col-12 padding-left-12 padding-bottom-68 dash-border dash-border--left"
            >
                <h1>{{ post.title }}</h1>
                {% if post.sys.publishedAt %}
                <p class="small-text italics">
                    Written on
                    {{ post.sys.publishedAt | date : '%B %-d, %Y' }} by
                    {{ post.blogAuthor }}
                </p>
                {% endif %}
            </div>
        </div>
    </header>

    <section class="section">
        <div class="container section--content-block">
            {% if post.pullquote and post.pullquoteImage %}
            <div class="content--wrapper col-12">
                {% renderFirstNParagraphs post.content 1 %}
                <aside
                    class="pullquote dash-border dash-border--left section--bg-linen"
                >
                    <figure class="pullquote__figure">
                        <img
                            src="/assets/img/spots/{{
                                post.pullquoteImage | downcase
                            }}.webp"
                            class="blog-post-card__img"
                            alt=""
                            loading="lazy"
                            decoding="async"
                        />
                    </figure>
                    <p class="pullquote__text">
                        {{ post.pullquote }}
                    </p>
                    <a
                        href="https://www.linkedin.com/sharing/share-offsite/?url={{
                            'https://verdance.co' | append : page.url
                        }}"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="pullquote__cta"
                    >
                        Share post on LinkedIn
                    </a>
                </aside>

                {% renderAfterNParagraphs post.content 1 %}
            </div>
            {% else %}
            <div class="content--wrapper col-12">
                {% renderRichText post.content %}
            </div>
            {% endif %}
            <div class="content--wrapper col-12 blog-post-card__cta">
                {% include "button", text: "more blog posts ", href: "/blog" %}
            </div>
        </div>
    </section>
</article>
