---
pagination:
    data: posts
    size: 1
    alias: post
permalink: /blog/{{ post.sys.id }}/index.html
layout: layout.liquid
eleventyComputed:
    title: '{{ post.title }}'
    date: '{{ post.sys.publishedAt }}'
---

<article class="page section--spacing section--bg-linen blog-post-page">
    <!-- Title + byline -->
    <header class="section section--spacing">
        <div class="container section--intro dash-border dash-border--left">
            <div class="col-12">
                <h1>{{ post.title }}</h1>
                {% if post.sys.publishedAt %}
                <p class="small-text">
                    Written on
                    {{ post.sys.publishedAt | date : '%B %-d, %Y' }} by
                    {{ post.blogAuthor }}
                </p>
                {% endif %}
            </div>
        </div>
    </header>

    <section class="section section--spacing">
        <div class="container section--content-block">
            {% if post.pullquote and post.pullquoteImage %}
            <!-- Pullquote mode: break into 1st para, then 2nd para + pullquote, then rest -->

            <!-- First paragraph -->
            <div class="content--wrapper col-12">
                {% renderFirstNParagraphs post.content 1 %}
            </div>

            <!-- Two-column: pullquote + second paragraph -->
            <div class="col-12 display-flex">
                <div class="content--wrapper col-8 col-12-tablet col-12-mobile">
                    {% renderParagraph post.content 1 %}
                </div>
                <aside class="col-4 col-12-tablet col-12-mobile">
                    <div
                        class="dash-border dash-border--all section--bg-linen content--wrapper"
                        style="padding: 16px"
                    >
                        <figure style="margin: 0 0 12px 0">
                            <img
                                src="/assets/img/spots/{{
                                    post.pullquoteImage | downcase
                                }}.webp"
                                alt=""
                                class="blog-post-card__img"
                                loading="lazy"
                                decoding="async"
                            />
                        </figure>
                        <blockquote
                            class="large-text"
                            style="margin: 0 0 12px 0"
                        >
                            {{ post.pullquote }}
                        </blockquote>
                    </div>
                </aside>
            </div>

            <!-- Everything after the second paragraph -->
            <div class="content--wrapper col-12">
                {% renderAfterNParagraphs post.content 2 %}
            </div>

            {% else %}
            <!-- Simple mode: just render the whole content -->
            <div class="content--wrapper col-12">
                {% renderRichText post.content %}
            </div>
            {% endif %}
        </div>
    </section>
</article>
