---
pagination:
    data: posts
    size: 1
    alias: post
permalink: 'blog/{{ post.sys.id }}/index.html'
---

<article class="post">
    <header class="post__header">
        <h1 class="post__title">{{ post.title }}</h1>

        {%- if post.author or post.sys.publishedAt -%}
        <p class="post__meta">
            {%- if post.sys.publishedAt -%} Written on
            {{ post.sys.publishedAt | date : '%B %-d, %Y' }} {%- endif -%} {%-
            if post.author -%} by {{ post.author }}
            {%- endif -%}
        </p>
        {%- endif -%}
    </header>

    <div class="post__grid">
        <div class="post__body">
            {{ post.content }}
        </div>
        {%- if post.pullquoteImage -%}
        <aside class="post__aside">
            <div class="post__aside-card">
                <img
                    class="post__aside-spot"
                    src="/assets/img/spots/{{
                        post.pullquoteImage | downcase
                    }}.webp"
                    alt=""
                    width="96"
                    height="96"
                    loading="lazy"
                    decoding="async"
                />
                {%- if post.pullquote -%}
                <p class="post__aside-quote">{{ post.pullquote }}</p>
                {%- endif -%}
            </div>
        </aside>
        {%- endif -%}
    </div>
</article>
